.dashboard_header{
/* min-height: 100vh; */
 display: flex;
 flex-direction: column;  
}
.backgroundBox{
  
  width: 300px;
  height: 300px;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.06);
  border-radius: 20px 20px 0px 20px;

}
.policyContianer{
  background-color: #5CB85C;
  position: fixed;
  bottom: 0px;
  padding: 15px 10px;
  width: 100%;
  z-index: 2;
}
.policyOpen{
  border: 0px;
  padding:0px;
  margin: 0px;
  background-color: transparent;
  color: #161C2D;
  font-weight: 500;
  text-decoration: underline;
}
.frontBox{
  
  width: 350px;
  height: 300px;
    transform: translateX(30px) translateY(-30px);
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    cursor: pointer;
   
}
.price{
  font-size: 30px;
  color: #5CB85C

}

.blueBackground{
    width: 300px;
    height: 300px;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.06);
    border-radius: 20px 20px 0px 20px;
}
.white{
    width: 350px;
    height: 300px;
      transform: translateX(-90px) translateY(-30px);
      background: #FFFFFF;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
      border-radius: 10px;
}
.right_shape{
  width:100px;
  height: 150px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  /* transform: scale(.6); */
  /* transform: scale(.5); */
}
.right_shape:hover{
  transform: rotate(180deg) scale(.5);
}
.first_shape{
  width: 60%;
  border-left: 3px solid #161C2D;
  border-top: 3px solid #161C2D;
  height: 100%;
  position: absolute;
}
.second_shape{
  top:6.666666666666667%;
  position: absolute;
  width: 70%;
  border-left: 3px solid #161C2D;
  border-top: 3px solid #161C2D;
 height: 93.33333333333333%;

}
.third_shape{
  top:13.33333333333333%;
  position: absolute;
  width: 80%;
  border-left: 3px solid #161C2D;
  border-top: 3px solid #161C2D;
height: 86.6666666666667%;
  
}
@media(max-width:874px){
  .right_shape{
    width:100px;
    height: 150px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    /* transform: scale(.5); */
  }

}
@media(max-width:768px){
  .right_shape{
    display: none;
  }
}
